In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
from valuation.Manager import Valuation
from utilities.utils import fullpath, get_datestr
from datetime import datetime, timedelta

In [3]:
value.last_working_day

Timestamp('2025-03-31 00:00:00')

In [8]:
value = Valuation(20250331, "cw")
df_weights = value.valuation_quarterly()

         Date      AC.PA  ACA.PA       AI.PA      AIR.PA      BN.PA  \
0  2024-12-02  43.459999  12.560  159.539993  150.520004  64.839996
1  2024-12-03  43.759998  12.510  160.020004  152.080002  64.800003
2  2024-12-04  44.000000  12.635  161.160004  154.220001  64.739998
3  2024-12-05  46.099998  12.925  161.660004  153.539993  64.980003
4  2024-12-06  46.020000  13.035  162.059998  155.160004  64.860001
..        ...        ...     ...         ...         ...        ...
78 2025-03-25  44.910000  17.295  178.720001  172.320007  71.059998
79 2025-03-26  44.820000  17.135  176.740005  170.539993  70.540001
80 2025-03-27  44.220001  17.090  176.440002  168.699997  70.820000
81 2025-03-28  42.790001  16.945  176.320007  166.259995  70.820000
82 2025-03-31  41.889999  16.775  175.139999  162.779999  70.839996

       BNP.PA     BVI.PA   CA.PA      CAP.PA  ...      SAF.PA      SAN.PA  \
0   55.939999  28.820000  13.710  150.850006  ...  221.800003   91.820000
1   55.779999  28.980000  13.860  152.100006  ...  227.300003   91.669998
2   56.500000  29.379999  14.030  153.899994  ...  228.600006   91.349998
3   57.970001  29.520000  14.050  155.000000  ...  211.899994   91.800003
4   58.570000  29.660000  14.145  157.449997  ...  212.899994   92.180000
..        ...        ...     ...         ...  ...         ...         ...
78  81.580002  28.520000  12.955  147.600006  ...  253.899994  103.720001
79  80.400002  28.260000  12.950  148.000000  ...  250.800003  101.459999
80  79.669998  28.340000  13.105  147.100006  ...  248.399994  101.860001
81  78.550003  28.200001  13.255  145.300003  ...  245.699997  103.400002
82  76.910004  27.940001  13.220  138.050003  ...  242.000000  101.919998

        SGO.PA  STLAM.MI   STMPA.PA       SU.PA     TEP.PA     TTE.PA  UBLB.F  \
0    84.519997    11.746  24.436029  243.100006  87.599998  52.298107    3.76
1    86.120003    11.934  24.232603  243.850006  85.839996  52.628620    3.64
2    86.260002    12.090  24.530300  249.100006  86.500000  52.434200    3.66
3    88.019997    12.548  24.684113  248.649994  87.419998  52.550854    3.72
4    90.019997    12.948  24.882578  251.699997  88.180000  52.716106    3.74
..         ...       ...        ...         ...        ...        ...     ...
78  100.099998    11.400  22.445000  234.000000  93.879997  58.560001    3.70
79   99.599998    11.394  21.545000  228.399994  94.059998  60.410000    3.76
80   98.459999    10.912  21.290001  225.300003  98.459999  60.509998    3.74
81   96.559998    10.482  20.510000  217.149994  96.300003  59.209999    3.78
82   91.699997    10.262  20.000000  210.750000  92.480003  59.660000    3.76

       VIE.PA
0   27.330000
1   27.400000
2   27.370001
3   28.110001
4   28.250000
..        ...
78  31.830000
79  31.790001
80  32.099998
81  32.150002
82  31.750000

[83 rows x 41 columns]
       index           82
0      AC.PA    41.889999
1     ACA.PA    16.775000
2      AI.PA   175.139999
3     AIR.PA   162.779999
4      BN.PA    70.839996
5     BNP.PA    76.910004
6     BVI.PA    27.940001
7      CA.PA    13.220000
8     CAP.PA   138.050003
9      CS.PA    39.400002
10     DG.PA   116.300003
11    DSY.PA    34.939999
12   EDEN.PA    29.940001
13     EL.PA   265.399994
14     EN.PA    36.410000
15   ENGI.PA    18.035000
16    ERF.PA    49.220001
17    GLE.PA    41.389999
18     HO.PA   245.600006
19    KER.PA   190.919998
20     LR.PA    97.239998
21     MC.PA   571.700012
22     ML.PA    32.410000
23     MT.AS    26.469999
24     OR.PA   342.850006
25    ORA.PA    11.995000
26    PUB.PA    86.739998
27     RI.PA    91.260002
28    RMS.PA  2411.000000
29    RNO.PA    46.549999
30    SAF.PA   242.000000
31    SAN.PA   101.919998
32    SGO.PA    91.699997
33  STLAM.MI    10.262000
34  STMPA.PA    20.000000
35     SU.PA   210.750000
36    TEP.PA    92.480003
37    TTE.PA    59.660000
38    UBLB.F     3.760000
39    VIE.PA    31.750000

In [ ]:
all_quarters = pd.read_csv("data/quarters.txt",names=["Dates"],skiprows=1)
all_quarters.Dates = pd.to_datetime(all_quarters.Dates, format="%Y%m%d").dt.date
all_quarters

In [ ]:
# create daily valuation
today = datetime.today()
t1 = timedelta(days=1)

current_quarter = fullpath(value.folder_path_quarterly, today.strftime("%Y%m%d")+".csv")
df_num_shares = pd.read_csv(fullpath( value.folder_path_quarterly, get_datestr(value.previous_quarter)+".csv" ))

symbol = df_num_shares["Symbol"].to_list()

market_data = yf.download(symbol, start=today-t1*7, end=today, interval="1d", group_by="column") 
market_data = market_data.xs("Close",level=0, axis=1)

# check market data and symbol alignment
if all(market_data.columns == symbol):
    prices = np.matrix( market_data.values )
    num_shares = np.matrix(df_num_shares["NumShares"]).transpose()

    # check inner size of matrix prior to multiplication
    if prices.shape[1] == num_shares.shape[0]:
        portfolio_value = prices @ num_shares
        df_portfolio_value = pd.DataFrame(portfolio_value, columns=["Portfolio"])
        df_portfolio_value.index = market_data.index.date

        # publish daily portfolio value
        for d in range(len(df_portfolio_value)):
            current_dte = df_portfolio_value.iloc[d,:].name.strftime("%Y%m%d")
            fname = fullpath("data","valuation","daily","cw",current_dte+".csv")
            df_portfolio_value.iloc[[d]].to_csv(fname, index=False,header=False)

In [ ]:
df_portfolio_value