In [4]:
from valuation.Manager import Valuation

In [5]:
value = Valuation(20250331, "caps")
df_weights = value.valuation_quarterly()
df_weights

      Symbol  NumShares
0      AC.PA   100476.0
1     ACA.PA  1273724.0
2      AI.PA   243407.0
3     AIR.PA   286518.0
4      BN.PA   284798.0
5     BNP.PA   458817.0
6     BVI.PA   184709.0
7      CA.PA   284658.0
8     CAP.PA    68874.0
9      CS.PA   942437.0
10     DG.PA   251506.0
11    DSY.PA   538003.0
12   EDEN.PA   108992.0
13     EL.PA   186680.0
14     EN.PA   164720.0
15   ENGI.PA  1077495.0
16    ERF.PA    85489.0
17    GLE.PA   332567.0
18     HO.PA    89541.0
19    KER.PA    47539.0
20     LR.PA   107770.0
21     MC.PA   187498.0
22     ML.PA   286779.0
23     MT.AS   310098.0
24     OR.PA   246993.0
25    ORA.PA  1186788.0
26    PUB.PA   105631.0
27     RI.PA   112661.0
28    RMS.PA    43390.0
29    RNO.PA   118045.0
30    SAF.PA   161080.0
31    SAN.PA   472779.0
32    SGO.PA   206426.0
33  STLAM.MI  1072878.0
34  STMPA.PA   363301.0
35     SU.PA   235200.0
36    TEP.PA    24510.0
37    TTE.PA   816461.0
38    UBLB.F  1151799.0
39    VIE.PA   304341.0

In [6]:
value = Valuation(20250331, "msr")
df_weights = value.valuation_quarterly()
df_weights

      Symbol  NumShares
0      AC.PA        0.0
1     ACA.PA  2861420.0
2      AI.PA   141850.0
3     AIR.PA   138277.0
4      BN.PA   581322.0
5     BNP.PA   667703.0
6     BVI.PA   534510.0
7      CA.PA  3365510.0
8     CAP.PA    13206.0
9      CS.PA  1312290.0
10     DG.PA   426088.0
11    DSY.PA        0.0
12   EDEN.PA   703447.0
13     EL.PA        0.0
14     EN.PA  1971530.0
15   ENGI.PA  2612817.0
16    ERF.PA   799030.0
17    GLE.PA  1133209.0
18     HO.PA   595367.0
19    KER.PA        0.0
20     LR.PA        0.0
21     MC.PA        0.0
22     ML.PA   213056.0
23     MT.AS   414848.0
24     OR.PA    50625.0
25    ORA.PA  3643581.0
26    PUB.PA        0.0
27     RI.PA        0.0
28    RMS.PA        0.0
29    RNO.PA    18015.0
30    SAF.PA    62894.0
31    SAN.PA   196274.0
32    SGO.PA    58367.0
33  STLAM.MI        0.0
34  STMPA.PA        0.0
35     SU.PA        0.0
36    TEP.PA   307649.0
37    TTE.PA   823639.0
38    UBLB.F  2134722.0
39    VIE.PA  2296094.0